@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; 

*{
    box-sizing: border-box;
}

body , html {
    height: 100%;
    width: 100%;
  
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(252, 32, 32, 0.848);
  border-radius: 10px;
}

/* src/index.css */
@font-face {
  font-family: 'golu';
  src: url('./assets/blippo-black_freefontdownload_org/blippo-black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
