@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; 

*{
    box-sizing: border-box;
}

body , html {
    height: 100%;
    width: 100%;
  
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(252, 32, 32, 0.848);
  border-radius: 10px;
}
